# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/app/src/main/res/mipmap-*/ic_launcher.png
android/app/src/main/res/mipmap-*/ic_launcher_round.png
*.iml
*.hprof
*.log
*.lock
*.swp
*.swo
*.DS_Store
*.apk
*.keystore
*.jks
*.hprof
*.zip
*.tgz
*.tar.gz
*.tgz
*.gz
*.7z
*.rar
*.tar
*.bak
*.tmp
*.temp
*.orig
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
.expo/
.expo-shared/
